Source: gnome-terminal
Section: gnome
Priority: optional
Maintainer: Guilherme de S. Pastore <gpastore@debian.org>
Standards-Version: 3.7.2
Build-Depends: cdbs (>= 0.4.41),
               debhelper (>= 5),
               liborbit2-dev (>= 1:2.10.2-1.1),
               intltool,
               libgtk2.0-dev (>= 2.10.0),
               libgnomeui-dev (>= 2.16.0-2),
               libvte-dev (>= 1:0.15.3),
               libglade2-dev (>= 2.5.1),
               scrollkeeper,
               libstartup-notification0-dev (>= 0.8),
               libgnomevfs2-dev (>= 2.10.0),
               gnome-pkg-tools (>= 0.10),
               dpkg-dev (>= 1.13.19),
               docbook-to-man,
               gnome-doc-utils,
               libgconf2-dev (>= 2.14.0),
               libxft-dev (>= 2.0.0),
               libpango1.0-dev (>= 1.1.1)
Uploaders: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>, Josselin Mouette <joss@debian.org>, Loic Minier <lool@dooz.org>, Sebastian Dröge <slomo@debian.org>

Package: gnome-terminal
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         scrollkeeper (>= 0.3.14-5),
         gnome-control-center (>= 1:2.8.0),
         gnome-terminal-data (>= ${gnome:Version}),
         gnome-terminal-data (<< ${gnome:NextVersion})
Conflicts: gnome-terminal2
Replaces: gnome-terminal2
Provides: x-terminal-emulator
Recommends: yelp
Description: The GNOME 2 terminal emulator application
 GNOME Terminal is a terminal emulation application that you can use to
 perform the following actions:
 .
 - Access a UNIX shell in the GNOME environment.
 - Run any application that is designed to run on VT102, VT220, and xterm
 terminals.
 .
 GNOME Terminal features the ability to use multiple terminals in a single
 window (tabs) and profiles support.

Package: gnome-terminal-data
Architecture: all
Replaces: gnome-terminal (<< 2.10-1)
Recommends: gnome-terminal
Depends: ${misc:Depends}
Description: Data files for the GNOME terminal emulator
 This package contains data, help files and localization settings for
 gnome-terminal, the GNOME 2 terminal emulator application.
